
.flyer-wrapper{
    height: 100vh;
    position: absolute;
    display: flex;
    margin-left: 1em;
}

.link-flyer{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #8f908b;
  padding: .5em 0 .5em 0em;
  border-radius: 2.5em;
  animation: 1.5s ease-out 0s 1 slideInLeft;
  gap: .5em;
  align-items: center;
  align-self: center;
  transition: .5s;
  overflow: hidden;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
    left: -150%;
  }
  100% {
    transform: translateX(0);
    left: 0;
  }
}

.link-flyer img {
  height: 2em;
  width: 2em;
}

/* #flyer-links{
  display: none;
} */

.show{
  display: contents;
}

#carret-logo{
  transition: .5s ease-out;
}

@media screen and (min-width:50em) and (max-width:80em){
  .link-flyer{
    height: 2em;
    overflow: hidden;
  }

}


@media screen and (max-width:50em){
  .link-flyer{
    align-items: center;
    align-self: flex-end;
    margin-bottom: 2em;
    animation: 1.5s ease-out 0s 1 slideInTop;
    flex-direction: row;
    width: 2em;
    overflow: hidden;
    padding: .3em;
    
    transition: .5s;
  }
  #flyer-links{
    height: 2em;
    /* overflow: hidden; */
  }
  .flyer-wrapper{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .flyer-acordian{
    width:"12em" !important;
  }
  .rotate-90{
    transform:'rotate(90deg)';
  }
  .rotate-0{
    transform:'rotate(90deg)';
  }

  @keyframes slideInTop {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }
}