
#Flyer{
    height: 100%;
    position: fixed;
    display: flex;
    margin-left: 1em;
}

.link-flyer{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: 1.5s ease-out 0s 1 slideInLeft;
  align-items: center;
  align-self: center;
  transition: .5s;
  overflow: hidden;
}

#acc-img {
  background: #8f908b;
  border-radius: 20px;
  width: 2.5em;
  text-align: center;
  transition: .5s;
  padding-top: 5px;
}

.rotate-carret{
  transform: rotate(90deg);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
    left: -150%;
  }
  100% {
    transform: translateX(0);
    left: 0;
  }
}

.link-flyer img {
  height: 2em;
  width: 2em;
}

.show{
  display: contents;
}

#carret-logo{
  transition: .5s ease-out;
}

#flyer-links-wrap{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #8f908b;
  justify-content: space-around;
  transition: 1s;
}

#flyer-links-wrap{
  height: 0;
  border-radius: 0 0 20px 20px;
  width: 2.5em;
  text-align: center;
}
.acc-border-clip{
  border-radius: 20px 20px 0 0 !important;
}

@media screen and (min-width:80em){
  
  #flyer-links-wrap a:nth-of-type(1){
    margin-top: 1em;
  }
  .expand-flyer{
    height: 155px !important;
  }
  
}

@media screen and (min-width:50em) and (max-width:80em){
  #flyer-links-wrap{
    height: 0;
  }
  #flyer-links-wrap a:nth-of-type(1){
    margin-top: 1em;
  }
  .expand-flyer{
    height: 155px !important;
  }
}

@media screen and (max-width:50em){
  .link-flyer{
    align-items: center;
    align-self: flex-end;
    margin-bottom: 2em;
    animation: 1.5s ease-out 0s 1 slideInTop;
    flex-direction: row;
    width: 2em;
    overflow: hidden;
    padding: .3em;
    transition: .5s;
  }
  #flyer-links-wrap{
    flex-direction: row;
    height: 2.5em;
    border-radius: 0 20px 20px 0;
    width: 0;
    align-items: center;
  }
  .flyer-wrapper{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .flyer-acordian{
    width:"12em" !important;
  }
  .acc-border-clip{
    border-radius: 20px 0 0 20px !important;
  }
  .expand-flyer{
    width: 155px !important;
  }
  #carret-logo{
    transform: rotate(-90deg);
  }
  .rotate-carret {
    transform: rotate(0deg) !important;
  }

  @keyframes slideInTop {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }
}