
.Home-main::-webkit-scrollbar {
    display: none;
  }

.Home-main{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Home-main img {
  width: 25em;
  height: 20em;
}

.info{
  display: flex;
  flex-direction: column  ;
  color: #4a4743;
  font-family: monospace;
  gap: 0.5em;
  display: flex;
  max-width: 40em;
  justify-content: flex-end;
  padding-left: 10em;
}

.info-l1{
  font-size: 5em;
  width: fit-content;
  opacity: 0;
  animation: drop 1s linear forwards .4s;
}

.info-l2{
  font-size: 3em;
  width: fit-content;
  opacity: 0;
  animation: drop 1s linear forwards .2s;
}

.info-l3{
  font-size: 2em;
  text-align: justify;
  padding: .5em;
  opacity: 0;
  animation: drop 1s linear forwards;
  font-weight: bold;
}

.info-bg {
  background: #ffffff73;
  border-radius: 0.2em;
}

.avatar img{
  transition: transform .2s;
  animation: scale-in 4s ease-in;
  animation-duration: .4s;
}

.avatar img:hover{
  transform: scale(1.5);
}

@media screen and (min-width:80em) {
  .info{
    height: 80vh;
  }
}

@media screen and (min-width:50em) and (max-width:80em) {
  .info{
    height: 90vh;
  }
}

@media screen and (max-width:50em) {
  .info-l1{
    font-size: 3em;
  }
  .info-l2{
    font-size: 2em;
  }
  .info-l3{
    font-size: 1.5em;
  }
  .info-bg{
    background: #ffffffb0;
  }
  .info{
    padding: 0em 3em 0 3em;
    align-self: center;
    margin-top: 20em;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes drop {
  0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
  5% {opacity: .7;}
  50% {transform: translateY(0px) scaleY(1); opacity: 1;}
  65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
  75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1); opacity: 1;}
}