@use '../css/Media';

section{
    display: grid;
}

.about-info{
    font-size: 20px;
    display: grid;
    // background: #adadbc29;
    border-radius: 20px 0;
    padding: 20px;
    gap: 1em;
}
.about-info-bg{
    border-radius: 20px;
    padding: 25px;
    text-align:justify;
    height: fit-content;
    width: 50%;
    font-size: calc(15px + 2vmin);
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes slideInLeft-aboutinfo {
    to{transform: translateX(0); opacity: 1;}
}

.about-pic{
    opacity: 0;
    transform: translateX(50%);
}

@keyframes slideInLeft-aboutpic {
    to{transform: translateX(0); opacity: 1;}
}

@keyframes slideInLeft {
    0%{transform: translateX(-250%);
        opacity: 0;}
    100%{transform: translateX(0);
    opacity: 1;}
}

.about-info article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.resumeLink{
    background: #3c415e;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    gap: 1em;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
}

@keyframes resumeSlideInBottom {
    to{transform: translateY(0);
    opacity: 1;}
}

.download-wrapper{
    width: 1em;
    height: 1em;
    text-align: center;
    padding: 5px;
    border-bottom: 4px solid white;

    img{
        width: 1em;
        height: 1em;
        animation: translateY-infinite 1s linear infinite;
    }
}

@keyframes translateY-infinite {
    0%{transform: translateY(-20%);}
    100%{transform: translateY(30%);}
}


@media #{Media.$ipad-pro-landscape}{
    
  }

  @media #{Media.$ipad-pro-portrait}{
   
    .about-info img{
        width: 10em;
    }
  }

  @media #{Media.$iphone-portrait}{
    .About{
        min-height: 100vh;
    }
    .about-info img{
        display: none;
    }
  }
  @media #{Media.$iphone-landscape} {
    .About{
        padding: 60px 0;
    }
  }

  
