@use '../css/Media';

section{
    display: grid;
}

.about-info{
    font-size: 2em;
    display: grid;
    border-radius: 20px 0;
    padding: 20px;
    gap: 1em;
    font-family: ui-monospace;
    transition: 1s ease;

    @media #{Media.$iphone-portrait}{
        padding: 0;
    }
}

.about-info-bg{
    height: fit-content;
    font-size: calc(2rem + 2vmin);
    transform: translateX(-100%);
    opacity: 0;

    @media #{Media.$ipad-pro-landscape}{
        font-size: calc(10px + 2vmin);
        padding: 0;  
    }

    @media #{Media.$ipad-pro-portrait}{
        width: 100%;
    }

    @media #{Media.$iphone-portrait}{
        width: 100%;
        font-size: calc(10px + 2vmax);
        padding: 20px;
    }
    @media #{Media.$iphone-landscape}{
        width: 60%;
        font-size: calc(10px + 2vmin);
        padding: 20px;
    }
}

@keyframes slideInLeft-aboutinfo {
    to{transform: translateX(0); opacity: 1;}
}

.ab-animation{
    transform: translate(-50%);
    opacity: 0;
}

.about-pic{
    opacity: 0;
    transform: translateX(50%);
}

.about-pic img{
    width: calc(10em + 2vmin);

    @media #{Media.$ipad-pro-landscape}{
        width: 15em;
    }
    @media #{Media.$ipad-pro-portrait}{
        width: 10em;
    }
    @media #{Media.$iphone-portrait}, #{Media.$iphone-landscape}{
        width: calc(6em + 2vmax);
    }
}

@keyframes slideInLeft-aboutpic {
    to{transform: translateX(0); opacity: 1;}
}

@keyframes slideInLeft {
    0%{transform: translateX(-250%);
        opacity: 0;}
    100%{transform: translateX(0);
    opacity: 1;}
}

.about-info article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
}

.about-l1{
    font-size: calc(1em + 2vmin);
    font-weight: bold;
}

.about-l3{
    font-size: calc(.5rem + 2vmin);
}

.about-info-main{
    grid-gap: 1rem;
}

.resume-link-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.resumeLink{
    background: #3c415e;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    gap: 1em;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    width: fit-content;
}

@keyframes resumeSlideInBottom {
    to{transform: translateY(0);
    opacity: 1;}
}

.download-wrapper{
    width: 1em;
    height: 1em;
    text-align: center;
    padding: 5px;
    border-bottom: 4px solid white;

    img{
        width: 1em;
        height: 1em;
        animation: translateY-infinite 1s linear infinite;
    }
}

@keyframes translateY-infinite {
    0%{transform: translateY(-20%);}
    100%{transform: translateY(30%);}
}

.qr-wrapper{
    display: grid;
    transition: 1s;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100%);

    #qr-logo{
        width: 1.5em;
        margin: auto;
    }
    img{
        width: 5em;
    }
    &:hover{
        transform: scale(1.2);
    }

    // &::before{
    //     content: '';
    //     background: url("../img/ResumeQR.png") no-repeat;
    //     background-size: 10em 10em;
    //     max-width: 20em;
    //     max-height: 20em;
    //     top: 50%;
    //     left: 50%;
    //     position: relative;
    // }
}

.resume-qr{
    right: 0;
    bottom: 0;
    width: fit-content;
    justify-self: center;
    transition: 1s ease;
    height: 0;
    overflow: hidden;
    
    img{
        width: 10em;
    }
}

.show-qr{
    height: calc(8em + 2vmin);
}
