@use '../css/Media';

section{
    display: grid;
}

.about-info{
    font-size: 2em;
    display: grid;
    border-radius: 20px 0;
    padding: 20px;
    gap: 1em;
    font-family: ui-monospace;
    transition: 1s ease;

    @media #{Media.$iphone-portrait}{
        padding: 0;
        font-size: 1.5rem;
    }
}

.about-info-bg{
    height: fit-content;
    font-size: calc(2rem + 2vmin);
    transform: translateX(-100%);
    opacity: 0;

    @media #{Media.$ipad-pro-landscape}{
        font-size: calc(10px + 2vmin);
        padding: 0;  
    }

    @media #{Media.$ipad-pro-portrait}{
        width: 100%;
    }

    @media #{Media.$iphone-portrait}{
        width: 100%;
        font-size: calc(10px + 2vmax);
        padding: 20px;
    }
    @media #{Media.$iphone-landscape}{
        width: 60%;
        font-size: calc(10px + 2vmin);
        padding: 20px;
    }
}

@keyframes slideInLeft-aboutinfo {
    to{transform: translateX(0); opacity: 1;}
}

.ab-animation{
    transform: translate(-50%);
    opacity: 0;
}

.about-pic{
    opacity: 0;
    transform: translateX(50%);
}

.about-pic img{
    width: calc(10em + 2vmin);

    @media #{Media.$ipad-pro-landscape}{
        width: 15em;
    }
    @media #{Media.$ipad-pro-portrait}{
        width: 10em;
    }
    @media #{Media.$iphone-portrait}, #{Media.$iphone-landscape}{
        width: calc(6em + 2vmax);
    }
}

@keyframes slideInLeft-aboutpic {
    to{transform: translateX(0); opacity: 1;}
}

@keyframes slideInLeft {
    0%{transform: translateX(-250%);
        opacity: 0;}
    100%{transform: translateX(0);
    opacity: 1;}
}

.about-info article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
}

.about-l1{
    font-size: calc(1em + 2vmin);
    font-weight: bold;

    @media #{Media.$iphone-portrait}, #{Media.$iphone-landscape}{
        font-size: calc(.5em + 2vmin);;
    }
}

.about-l3{
    font-size: calc(.5rem + 2vmin);
}

.about-info-main{
    grid-gap: 1rem;
}
