@use '../css/Media';

.About{
    display: flex;
    padding: 100px 0;
}

section{
    display: grid;
}

#label{
    font-size: calc(20px + 3vmin);
    align-self: center;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    width: fit-content;
    font-style: italic;
    justify-self: center;
    gap: 0.5em;
}

#A{
    animation: slideInLeft 2s linear forwards 1s;
}
#B{
    animation: slideInLeft 2s linear forwards .8s;
}
#O{
    animation: slideInLeft 2s linear forwards .6s;
}
#U{
    animation: slideInLeft 2s linear forwards .4s;
}
#T{
    animation: slideInLeft 2s linear forwards .2s;
}

.letter{
    animation: slideInLeft 5s ease;
}

.about-info{
    font-size: 20px;
}
.about-info-bg{
    border-radius: 20px;
    padding: 20px;
    text-align:justify;
    height: fit-content;
}

@keyframes slideInLeft {
    0%{transform: translateX(-250%);
        opacity: 0;}
    100%{transform: translateX(0);
    opacity: 1;}
}

.about-info article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


@media #{Media.$ipad-pro-landscape}{
    
  }

  @media #{Media.$ipad-pro-portrait}{
   
    .about-info img{
        width: 10em;
    }
  }

  @media #{Media.$iphone-portrait}{
    .About{
        min-height: 100vh;
    }
    .about-info img{
        display: none;
    }
  }
  @media #{Media.$iphone-landscape} {
    .About{
        padding: 60px 0;
    }
  }

  
