@use '../css/Media';

.Contact{
    padding: 100px 200px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 1em;
}

// #contact article{
//     display: flex;
//     flex-direction: row;
// }
.contact-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    // box-shadow: 5px 5px 5px rgb(122, 122, 122);
    gap: .5em;
    animation: form-slideInTop 1.5s ease-in-out;
}

@keyframes form-slideInTop {
    0%{transform: translateY(50%);
    opacity: .5;}
    100%{transform: translateY(0%);
    opacity: 1;}
}
#contact main label{
    font-size: calc(10px + 2vmin);
    padding: 5px;
    font-family: monospace;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea, input[type="text"], input[type="email"]{
    height: 25px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px 0;
    border: 1px solid grey;
    background: #fbefeacf;
}
textarea{
    height: 250px;
    font-size: 15px;
    align-items: self-start;
    resize:vertical;
    overflow: hidden;
    padding: 5px;
}
input[type="submit"]{
    width: 100px;
    align-self: flex-end;
    border-radius: 10px 0;
    border: 1px solid grey;
    background: white;
    font-size: 20px;
    padding: 5px;
    transition: .5s;
    box-shadow: 2px 2px 5px grey;

    &:hover{
        transform: scale(1.3);
    }
    &:active{
        background: #38edd6;
    }
}
#textarea-label{
    align-self: normal;
    margin-top: 10px;
}

.email-confirmation{
    position: fixed;
    width: 100vh;
    height: 50px;
    top: 10%;
    align-items: center;
    display: none;
    justify-content: center;
    animation: drop 1s linear forwards;
    opacity: 0;
}
.email-confirmation span{
    align-self: center;
    border: 1px solid grey;
    padding: 10px;
    background: #d6fffe;
    border-radius: 5px;
}

.show-confirm{
    display: grid;
    animation: dropFade 2s linear forwards;

}

.contact-info-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    animation: infoWrapper-slideInRight 1.5s ease-in-out;
}

@keyframes infoWrapper-slideInRight {
    0%{transform: translateX(50%);
    opacity: .5;}
    100%{transform: translateX(0);
    opacity: 1;}
}

#contact main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px 0;
    background: linear-gradient(135deg, #a7bcb9, #faefea);
    box-shadow: 5px 5px 10px grey;
    animation: contact-fadeIn 1.5s ease-in-out;
}
@keyframes contact-fadeIn {
    0%{transform: scale(.8);
        opacity: .5;
    }
    100%{transform: scale(1);
    opacity: 1;}
}

.info-article{
    display: flex;
    flex-direction: column;
}

.contact-info{
    display: flex;
    gap: 1em;
}

.contact-info img{
    width: 25px;
}



@keyframes dropFade {
    0%{ transform: translateY(-150%);
        opacity: 0;}
    80%{transform: translateY(0);
    opacity: 1;}
    100%{opacity: 0;}
}

@media #{Media.$ipad-pro-landscape}{
    .Contact{
        padding: 100px 50px;
        display: flex;
        align-items: center;
        min-height: 100vh;
    }   
    textarea{
        height: 180px;
    }
  }

  @media #{Media.$ipad-pro-portrait}{
    .Contact{
        padding: 100px 30px;
        display: flex;
        align-items: center;
        min-height: 100vh;
        justify-content: flex-start;
    }
    #contact article{
        flex-direction: column-reverse;
    }
  }

  @media #{Media.$iphone-portrait}{
    .Contact{
        padding: 20% 5%;
    }
    #contact main, .contact-form, .contact-info-wrapper{
        width: auto;
    }
    #contact main{
        flex-direction: column-reverse;
    }
    textarea{
        height: 150px;
    }
    .skills-container{
        justify-content: center;
    }
  }

  @media #{Media.$iphone-landscape}{
    .Contact{
        padding: 0;
    }
    #contact main, .contact-form, .contact-info-wrapper{
        width: auto;
    }
  }
  


