@use '../css/Media';


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    &::after{
        content: '';
        width: 10px;
        background: #{Media.$bg-color-2};
        display: block;
        top: 0;
        bottom: 0;
        left: 50%;
        position: absolute;
        border-radius: 5px;
    }

  }

.container{
    width: 50%;
    height: fit-content;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgb(247, 245, 245);
        top: 28px;
        border: 4px solid grey;
        z-index: 1;
        right: -23px;
    }
}

.right::after{
    left: -15px;
}

.content{
    position: relative;
    border-radius: 5px;
    margin: 30px 40px;
    padding: 15px;
    border: 1px solid rgb(128, 128, 128);
    background: #f9efea;

   
}
.shadow-left{
    box-shadow: -5px 5px 10px grey;
}

.shadow-right{
    box-shadow: 5px 5px 10px grey;
}

.left{
    left: 0;

    &::before{
        content: '';
        width: 0; 
        height: 0; 
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #{Media.$bg-color-3};
        position: absolute;
        top: 10%;
        right: 25px;
    }
}

.right{
    left: 50%;

    &::before{
        content: '';
        width: 0; 
        height: 0; 
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #{Media.$bg-color-3}; 
        position: absolute;
        top: 10%;
        left: 25px;
    }
}
  