@use 'Media';

#header{
    transition: .3s ease-in;
}

header{
    animation: slideInTop-head 2s ease-in-out ;
}

.head-on-scroll{
    height: 1.8em !important;
    box-shadow: 0 0 14px 0 #b2b2b2 !important;
    background-color: rgb(186 186 186 / 30%) !important;
}

header{
    animation: 1.5s ease-out 0s 1 slideInTop-head;
}

#header {
    // background-color: rgba(230, 230, 230, 0.58);
    width: 100%;
    height: 2.2em;
    font-size: calc(10px + 2vmin);
    color: #{Media.$font-dark};
    display: flex;
    gap: .5em;
    position: fixed;
    // background-color: rgb(255 255 255 / 30%);
    // box-shadow: 0 0 2px 0 #b2b2b2;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    z-index: 1;
}

#nav-button{
    display: none;
    margin-right: 10%;
}

#smodi{
    margin-left: 20%;
}

#progress-bar-wrapper{
    height: 5px;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(10px);
    width: 100%;
}

#progress-bar{
    height: 5px;
    position: fixed;
    background-color: #{Media.$bg-color-1};
    z-index: 2;
}

//Ipad Pro Landscape
@media #{Media.$ipad-pro-landscape}{
    #smodi {
        margin-left: 10%;
    }
    .nav-link-wrap{
        padding-right: 10%;
        margin: 0;
    }
    #avatar{
        max-width: 20em;
    }
  }

  //Ipad Pro Potrait
  @media #{Media.$ipad-pro-portrait}{
    #smodi {
        margin-left: 10%;
    }
  }

@media screen and (min-width:75em) {
    .App-header {
      align-items: center;
      justify-content: space-between;
      padding-right: 2em;
    }
  }

// @media screen and (min-width:40em) and (max-width:80em) and (min-height:50){
//     #smodi {
//       margin-left: 5%;
//     }
// }

@media #{Media.$iphone-landscape}{
    #smodi{
        margin-left: 10%;
    }
    .nav-link-wrap{
        padding-right: 10%;
        margin: 0;
    }
}

@media #{Media.$iphone-portrait}{
    .App-header {
        flex-flow: column;
        height: 3em;
    }
    #header{
        gap: 0;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        height: 3em;
    }
    .head-on-scroll{
        height: 2.5em !important;
    }
    #nav-button{
        display: grid;
        margin-right: 5%;
    }
    #smodi{
        margin-left: 5%;
    }
    .nav-bg-portrait{
        height: 100%;
        width: 0;
        transition: .5s ease-in-out;
        background: #646464cc;
        z-index: 5;
        position: fixed;
        left: 50%;
    }
    .nav-greyout{
        width: 100%;   
        left: 0 !important;
    }
}

