@use 'Media';


.Home{
  height: calc(100vh - 200px);
  gap: 5em;
  justify-content: center;

  @media #{Media.$iphone-landscape}{
    flex-direction: column-reverse;
  }
}

.Home-main img {
  width: 25em;
  height: 20em;
}

.Home article{
    display: flex;
    justify-content: space-around;
    width: 100%;

    @media #{Media.$ipad-pro-portrait}{
      flex-direction: column-reverse;
    }

    @media #{Media.$iphone-portrait}{
      padding: 0;
      min-height: 100vh;
    }

}

.info{
  display: flex;
  flex-direction: column;
  font-family: monospace;
  gap: 0.5em;
  width: 40em;
  justify-content: center;
  font-family: inherit;
}

.info-l1{
  font-size: 5em;
  width: fit-content;
  opacity: 0;
  animation: drop 1s linear forwards .4s;
  font-weight: bold;
}

.info-l2{
  font-size: 5em;
  width: fit-content;
  opacity: 0;
  animation: drop 1s linear forwards .2s;
  font-weight: bold;
}

.info-l3{
  font-size: 2em;
  text-align: justify;
  opacity: 0;
  animation: drop 1s linear forwards;
}

.info-bg {
  border-radius: 20px 0;
  filter: drop-shadow(2px 4px 6px grey);
  padding: 10px;
}

.avatar-container img{
  transition: transform .2s;
  animation: scale-in 4s ease-in;
  animation-duration: .4s;
  filter: drop-shadow(2px 4px 6px grey);
  animation: avatarScaleIn 1.5s ease-out;
  margin: 0 auto;


  @media #{Media.$ipad-pro-portrait}{
      max-width: 20em;
  }
}

// .avatar img:hover{
//   transform: scale(1.5);
// }

#hire-me{
    background: #2cc1c100;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    transition: transform 0.5s;
}

// #hire-nav:hover{
//     transform: scale(1.2);
// }

.info nav{
  align-self: flex-end;
  filter: drop-shadow(2px 4px 6px grey);
}

#hire-nav{
    animation: hire-slideInLeft 1s ease-in;
    transition: 0.2s;
    width: fit-content;
    /* border: 1px solid grey; */
    padding: 10px 10px;
    border: 2px solid #3c415e;
    border-radius: 20px 0;
    align-self: flex-end;

    &:active{
      background: rgb(60 65 94);
      color: white;
    }
}

.hire-link-wrap{
    max-width: fit-content;
    border-radius: 20px 0;
    align-self: flex-end;
    transition: 1s;

    &:hover{
      background: rgb(162, 184, 198);
      transform: scale(1.2);
    }
}

@keyframes hire-slideInLeft {
  0%{transform: translateX(-100%);opacity: 10%;}
  100%{transform: translateX(0);opacity: 1;}
}

/* #avatar:hover{
  animation: avatarRotate 1.5s linear infinite;
} */

@keyframes avatarScaleIn {
  0%{transform: scale(.2);
      }
  100%{transform: scale(1);
  }
}

@keyframes avatarRotate {
  0%{
      transform: rotate(0deg);}
  100%{
      transform: rotate(350deg);}
}

.scroller-wrapper{
    border: 2px solid #{Media.$bg-color-2};
    border-radius: 20px;
    width: 30px;
    height: 40px;
    display: grid;
    text-align: center;
    padding: 5px 0;
    animation: scrollerScaleUp 1s ease-out;
    position: fixed;
    bottom: 70px;
    opacity: 1;
    align-self: center;
}

.scroller{
    background-color: black;
    border-radius: 50%;
    margin: 0 auto;
    width: 5px;
    height: 0px;
    display: grid;
    padding: 5px 0;
    opacity: 0;
    animation: scrollerDrop 1s linear 1s infinite;
}

.top-scroll-wrapper{
  border-radius: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 70px;
  opacity: 1;
  background: #1cb3c8;
  display: grid;
  transition: 2s;
  filter: drop-shadow(2px 4px 6px rgb(152, 150, 150));
  right: 1em;
  transform: translateX(150%);
  transition: 1s;
}

.top-scroll{
  animation: top-scroll 1.5s linear 2.5s infinite;
  img{
    width: 2em;
    height: 2em;
  }
}

@keyframes top-scroll {
  0%{transform: translateY(30%);}
  100%{transform: translateY(0%);}
}

@keyframes top-scroll-slideInLeft {
  100%{transform: translateX(0);}
}

@keyframes top-scroll-slideInLeft-reverse {
  100%{transform: translateX(150%);}
}


@keyframes scrollerDrop {
  0%{ transform: translateY(0);}
  50%{opacity: 1;}
  100%{ transform: translateY(35px);
        opacity: 0;}
}

@keyframes scrollerScaleUp {
  0%{transform: translateY(200%);
    opacity: 0;}
  60%{transform: translateY(-10%);}
  80%{transform: translateY(5%);}
  100%{transform: translateY(0);
  opacity: 1;}
}

@media #{Media.$ipad-pro-landscape}{
  .nav-link-wrap{
    margin-right: 5%;
  }
}

@media #{Media.$ipad-pro-portrait}{
  #avatar {
    max-width: 20em;
  }
  .info{
    width: auto;
  }
  .nav-link-wrap{
    padding-right: 10%;
    margin: 0;
  }
  .Home{
    flex-direction: column-reverse;
  }
}

@media #{Media.$iphone-landscape}{
  #avatar-container img{
    max-width: 10em;
  }
  .info{
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 0;
      justify-self: center;
  }
  .info-l1{
      font-size: 2em;
  }
  .info-l2{
      font-size: 1.5em;
  }
  .info-l3{
      font-size: 1.2em;
  } 
}

@media #{Media.$iphone-portrait}{
  .info-l1{
    font-size: 3em;
  }
  .info-l2{
    font-size: 2em;
  }
  .info-l3{
    font-size: 1.5em;
  }
  .info-bg{
    background: #ffffffb0;
  }
  .info{
    align-self: center;
    position: static;
    width: auto;
  }
  .Home-main{
    left: 0;
  }
  #Flyer{
    margin: 0;
  }
  #avatar-container img{
    max-width: 15em;
  }
  .Home{
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
    gap: 2em;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes drop {
  0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
  5% {opacity: .7;}
  50% {transform: translateY(0px) scaleY(1); opacity: 1;}
  65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
  75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1); opacity: 1;}
}