@use 'Media';

.Home::-webkit-scrollbar {
    display: none;
  }

.Home{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10% 20% 0 20%;
}

.Home-main img {
  width: 25em;
  height: 20em;
}

.info{
  display: flex;
  flex-direction: column;
  color: #4a4743;
  font-family: monospace;
  gap: 0.5em;
  max-width: 40em;
  justify-content: center;
}

.info-l1{
  font-size: 5em;
  width: fit-content;
  opacity: 0;
  animation: drop 1s linear forwards .4s;
}

.info-l2{
  font-size: 3em;
  width: fit-content;
  opacity: 0;
  animation: drop 1s linear forwards .2s;
}

.info-l3{
  font-size: 2em;
  text-align: justify;
  padding: .5em;
  opacity: 0;
  animation: drop 1s linear forwards;
  font-weight: bold;
}

.info-bg {
  background: #eeeeef;
  border-radius: 0.2em;
  filter: drop-shadow(2px 4px 6px grey);
}

.avatar img{
  transition: transform .2s;
  animation: scale-in 4s ease-in;
  animation-duration: .4s;
}

.avatar img:hover{
  transform: scale(1.5);
}

#hire-me{
    width: fit-content;
    background: #2cc1c1;
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
    COLOR: WHITE;
    font-size: 2em;
    transition: transform .5s;
}

#hire-nav:hover{
    transform: scale(1.2);
}

.info nav{
  align-self: flex-end;
  margin-top: 2em;
  filter: drop-shadow(2px 4px 6px grey);
}

#hire-nav{
  animation: hire-slideInLeft 1s ease-in;
  transition: .2s;
}

@keyframes hire-slideInLeft {
  0%{transform: translateX(-100%);opacity: 10%;}
  100%{transform: translateX(0);opacity: 1;}
}

#avatar{
  filter: drop-shadow(2px 4px 6px grey);
  animation: avatarScaleIn 1.5s ease-out;
}

/* #avatar:hover{
  animation: avatarRotate 1.5s linear infinite;
} */

@keyframes avatarScaleIn {
  0%{transform: scale(.2);
      }
  100%{transform: scale(1);
  }
}

@keyframes avatarRotate {
  0%{
      transform: rotate(0deg);}
  100%{
      transform: rotate(350deg);}
}

@media #{Media.$ipad-pro-landscape}{
  .Home{
    padding: 10%;
  }
  .nav-link-wrap{
    margin-right: 5%;
  }
  #avatar{
    max-width: 25em;
  }
}

@media #{Media.$ipad-pro-portrait}{
  .Home{
    padding: 20% 5% 10% 10%;
  }
  #avatar {
    max-width: 15em;
  }
  .info{
    padding: 10%;
    max-width: 100%;
  }
  .Home{
    flex-direction: column-reverse;
    padding: 15% 0 0 0;
    justify-items: center;
    width: 100%;
    align-items: center;
    gap: 2em;
  }
}

@media #{Media.$iphone-landscape}{
  #avatar-container img{
    max-width: 10em;
  }
  .info{
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 0;
      justify-self: center;
  }
  .info-l1{
      font-size: 2em;
  }
  .info-l2{
      font-size: 1.5em;
  }
  .info-l3{
      font-size: 1.2em;
  }
  .Home{
    padding:10%;
    gap: 2em;
  }
  
}

@media #{Media.$iphone-portrait}{
  .info-l1{
    font-size: 3em;
  }
  .info-l2{
    font-size: 2em;
  }
  .info-l3{
    font-size: 1.5em;
  }
  .info-bg{
    background: #ffffffb0;
  }
  .info{
    align-self: center;
    position: static;
    max-width: 26em;
  }
  .Home-main{
    left: 0;
  }
  #Flyer{
    margin: 0;
  }
  #avatar-container img{
    max-width: 15em;
  }
  .Home{
    flex-direction: column-reverse;
    padding: 25% 0 0 0;
    justify-items: center;
    width: 100%;
    align-items: center;
    gap: 2em;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes drop {
  0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
  5% {opacity: .7;}
  50% {transform: translateY(0px) scaleY(1); opacity: 1;}
  65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
  75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1); opacity: 1;}
}