.Label{
    font-size: calc(20px + 3vmin);
    align-self: center;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    width: fit-content;
    font-style: italic;
    justify-self: center;
    gap: 0.5em;
    // filter: drop-shadow(2px 4px 6px grey);
    transform: translateY(100%);
    opacity: 0;
    margin-bottom: 1rem;
}

@keyframes labelSlideInTop {
    60%{transform: translateY(-10%);}
    80%{transform: translateY(5%);}
    100%{transform: translateY(0%);opacity: 1; }
}

// #A{
//     animation: slideInLeft 2s linear forwards 1s;
// }
// #B{
//     animation: slideInLeft 2s linear forwards .8s;
// }
// #O{
//     animation: slideInLeft 2s linear forwards .6s;
// }
// #U{
//     animation: slideInLeft 2s linear forwards .4s;
// }
// #T{
//     animation: slideInLeft 2s linear forwards .2s;
// }

// .letter{
//     animation: slideInLeft 5s ease;
// }