
//Media query for Ipad Landscape and portrait
$ipad-pro-11: "only screen and (min-width: 724px) and (min-height:724px) and (max-width: 1366px)";

//Media query for Ipad Landscape
$ipad-pro-landscape: "only screen and (min-width: 724px) and (min-height:724px) and (max-width: 1366px) and (max-height:1366px) and (orientation : landscape)";

//Media query for Ipad Portrait
$ipad-pro-portrait: "only screen and (min-width: 724px) and (min-height:724px) and (max-width: 1366px) and (max-height:1366px) and (orientation: portrait)";

//Media query for iphone Landscape and portrait
$iphone: "only screen and (min-width: 360px) and (max-height:960px)";

//Media query for iphone Landscape
$iphone-landscape: "only screen and (min-width: 360px) and (max-width:960px) and (max-height:960px) and (orientation : landscape)";

//Media query for iphone Portrait
$iphone-portrait: "only screen and (min-width: 360px) and (max-width:960px) and (max-height:960px) and (orientation : portrait)";


//Color palettes
$bg-color-1:"#1cb3c8";
$bg-color-2:"#3c415e";
$bg-color-3:"#738598";
$bg-color-4:"#dfe2e2";


//Collor Pallete for Light Theme
$app-bg-light: "linear-gradient(to right, #fff1eb 0%, #{$bg-color-4} 100%)";
$theme-light: "#2bc1c1";
$primary-light: "#FF6000";
$font-dark:"#3c415e";
$flyers-bg-light:"#b5bebe";


//Collor Pallete for Dark Theme
$app-bg-dark: "#000000";
$theme-dark:  "#fc2222"; //"#3e32e4"; //#FF6000";
$primary-dark: "#FF6000";
$font-light:"white";
$flyers-bg-dark:"#d2d2d278";

:export{
    ipadLandscape:$ipad-pro-landscape;
    ipadPortrait:$ipad-pro-portrait;
    iphoneLandscape:$iphone-landscape;
    iphonePortrait:$iphone-portrait;
}