
//Media query for Ipad Landscape and portrait
$ipad-pro-11: "only screen and (min-width: 834px) and (min-height:1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)";

//Media query for Ipad Landscape
$ipad-pro-landscape: "only screen and (min-width: 834px) and (min-height:834px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape)";

//Media query for Ipad Portrait
$ipad-pro-portrait: "only screen and (min-width: 834px) and (min-height:1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";

//Media query for iphone Landscape and portrait
$iphone: "only screen and (min-device-width: 360px) and (max-device-width: 833px)";

//Media query for iphone Landscape
$iphone-landscape: "only screen and (max-device-width: 960px) and (max-device-height:640px) and (orientation : landscape)";

//Media query for iphone Portrait
$iphone-portrait: "only screen and (max-device-width: 640px) and (max-device-height:960px) and (orientation : portrait)";


//Color palettes
$bg-color-1:"#1cb3c8";
$bg-color-2:"#3c415e";
$bg-color-3:"#738598";
$bg-color-4:"#dfe2e2";


//Font color for light theme
$font-dark:"#3c415e";

//App background light theme
$app-bg-light:"linear-gradient(to right, #fff1eb 0%, #{$bg-color-4} 100%)";


:export{
    ipadLandscape:$ipad-pro-landscape;
    ipadPortrait:$ipad-pro-portrait;
    iphoneLandscape:$iphone-landscape;
    iphonePortrait:$iphone-portrait;
}