@use '../css/Media';


.project-container{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.project-wrapper {
    display: flex;
    align-items: center;
    transition: .5s;
    overflow: hidden;
    border-radius: 5px;

    &:hover,&:focus{
        filter: none;
        transform: scale(1.02);
    
        .project-picture{
            filter: none;
            &::after{
                background: transparent;
            }
        }
    }

    @media #{Media.$iphone-portrait} {
        flex-direction: column-reverse;

        &:target, &:focus .project-info{
            transform: translateY(0);
        }
    }
}

.even-p-wrapper {
    flex-direction: row-reverse;
    
    .project-info{
        left: 0;
    }

    @media #{Media.$iphone-portrait} {
        flex-direction: column-reverse;
    }
}

.project-info{
    position: absolute;
    height: -moz-fit-content;
    height: fit-content;
    background: rgba(193, 200, 199, 0.831372549);
    padding: 10px;
    font-size: calc(8px + 1vmin);
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    width: 40em;
    right: 0;
    box-sizing: border-box;

    p,h2,h5{
        margin: 10px 0;
        padding: 0;
    }

    @media #{Media.$iphone-portrait} {
        left: 0;
        z-index: 0;
        padding: 0;
        height: 0;
        width: fit-content;
        position: relative;
        font-size: calc(8px + 3vmin);
        border-radius: 0 0 5px 5px;
    }

}
    

.expand-info{
    height: 22em;
    padding: 10px;
}


.info-arrow{
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    border: none;
    background: transparent;
    height: 3em;
    align-content: center;
    transition: .5s;
    overflow: hidden;
    display: none;
    background: #bebbbbb8;

    img{
        max-width: 2em;
        max-height: 2em;
        justify-self: center;
        transition: .5s;
    }

    @media #{Media.$iphone-portrait} {
        display: grid;
    }
}

.rotate-arrow{
    transform: rotate(-180deg);
}

.project-info p::after {
    height: 0px;
    width: 0px;
    border-bottom: 100px solid #45597e;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent; 
}

.project-picture{
    //background: linear-gradient(red,blue), url('../img/insurance.png');
    filter: grayscale(50%) contrast(1);
    position: relative;
    // mix-blend-mode: darken;
    transition: .5s;
    align-items: center;
    display: grid;

    &::after{
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #2fcfc7a3;
        position: absolute;
        border-radius: 5px;
        transition: .5s;
    }

    img:nth-child(1){
        max-width: 38em;

        @media #{Media.$iphone-portrait} {
            max-width: 100%;
        }
    }
}