@use '../css/Media';


.Skills{
    min-height: 100vh;
}

.skills-container{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    max-width: 1200px;
    align-self: center;

    @media #{Media.$ipad-pro-portrait}{
        flex-flow: column;
        align-items: center;
      }
}

.skills-wrapper{
    display: flex;
    flex-direction: column;
    width: 30em;
    gap: 10px;

    &:hover{
        transform: scale(1.2);
    }

    @media #{Media.$ipad-pro-landscape}{
        width: 25em;
    }

    @media #{Media.$iphone-landscape}{
        width: 18em;
    }

    @media #{Media.$iphone-portrait}{
        width: 22em;
    }
}

.skill{
    //background-color: rgb(74, 125, 127);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bar-wrapper{
    background: #f8f8f8;
    border-radius: 10px 0 10px 0;
    padding: 2px;
    border: 2px solid #7d7d9e;
    box-shadow: 5px 5px 10px grey;
}

.bar{
    overflow: hidden;
    border-radius: 10px 0 10px 0;
    height: 2em;
    text-align: center;
    align-content: center;
    display: grid;
    background: linear-gradient(77.1deg, rgb(245, 220, 168) 11.5%, rgb(22, 220, 236) 100.2%);
}

.skill-name{
    width: fit-content;
    font-size: 20px;
    border-radius: 10px 0;
    padding: 5px;
    // border: 2px solid #728781;
    font-family: serif;
}

@keyframes progress-bar-java {
    0%{width: 0;}
    100%{width: 90%;}
}

@keyframes progress-bar-html {
    0%{width: 0;}
    100%{width: 80%;}
}

@keyframes progress-bar-css {
    0%{width: 0;}
    100%{width: 70%;}
}

@keyframes progress-bar-javascript {
    0%{width: 0;}
    100%{width: 65%;}
}

.skill-slidein-left-animation{
    opacity: 0;
    transform: translateX(-100%);
}

.skill-slidein-right-animation{
    opacity: 0;
    transform: translateX(100%);
}

@keyframes skill-slideInLeft {
    60%{transform: translateX(3%);}
    80%{transform: translateX(-1%);}
    100%{transform: translateX(0); opacity: 1;}
}

@keyframes skill-slideInRight {
    60%{transform: translateX(-3%);}
    80%{transform: translateX(1%);}
    to{transform: translateX(0); opacity: 1;}
}

.java{
    animation: progress-bar-java 3s ease-in-out;
    width: 0;
}
.html{
    animation: progress-bar-html 3s ease-in-out;
    width: 80%;
}
.css{
    animation: progress-bar-css 3s ease-in-out;
    width: 70%;
}
.javascript{
    animation: progress-bar-javascript 3s ease-in-out;
    width: 65%;
}


  