  .App{
    transition: background-color .5s;
  }
  
  .tab{
    min-width: 100vw;
    min-height: 100vh;
  }

  @keyframes bg-blur {
    0% { filter: blur(5px);}
    50% { filter: blur(4px);}
    70% { filter: blur(2px);}
    100% { filter: blur(0px);}
  }
  
  a:hover{
    cursor: pointer;
  }
    
  @keyframes slideInTop-head {
    0% {
      transform: translateY(-150%);
      box-shadow: 0 0 5px 4px #7c7c78;
    }
    50% {
      transform: translateY(-100%);
      box-shadow: 0 0 3px 2px #b9b9b5;
    }
    100% {
      transform: translateY(0);
      box-shadow: 0 0 px 1px #b2b2b2;
    }
  }
  
  @media screen and (min-width:40em) and (max-width:80em) {
    .App-header {
      flex-flow: nowrap;
      align-items: center;
      justify-content: center;
    }
    .bg-main{
      background-position: right;
    }
    nav{
      width: 100vw;
      justify-content: space-evenly;
    }
    header nav nav{
      gap: 0.5em;
    }
    #close-nav-btn{
      display: none;
    }
    #nav-button{
      display: none;
    }
    .scale{
      transition: transform .2s;
    }
    .scale:hover{
      transform: scale(1.3);
    }
  }
  
  