  @use './css/Media';

  .App{
    transition: background-color .5s;
  }
  
  .tab{
    min-width: 100vw;
    min-height: 100vh;
  }

  @keyframes bg-blur {
    0% { filter: blur(5px);}
    50% { filter: blur(4px);}
    70% { filter: blur(2px);}
    100% { filter: blur(0px);}
  }
  
  a:hover{
    cursor: pointer;
  }
    
  @keyframes slideInTop-head {
    0% {
      transform: translateY(-150%);
      box-shadow: 0 0 5px 4px #7c7c78;
    }
    50% {
      transform: translateY(-100%);
      box-shadow: 0 0 3px 2px #b9b9b5;
    }
    100% {
      transform: translateY(0);
      box-shadow: 0 0 px 1px #b2b2b2;
    }
  }
  
  @media #{Media.$ipad-pro-landscape} {
    .App-header {
      flex-flow: nowrap;
      align-items: center;
      justify-content: center;
    }
    .bg-main{
      background-position: right;
    }
    nav{
      // width: 100vw;
      justify-content: space-evenly;
    }
    header nav nav{
      gap: 0.5em;
    }
    #close-nav-btn{
      display: none;
    }
    #nav-button{
      display: none;
    }
    .scale{
      transition: transform .2s;
    }
    .scale:hover{
      transform: scale(1.3);
    }
  }
  
  .bg-bubbles{
    position: fixed;
    width: 100%;
    z-index: -1;
    display: flex;
    bottom: 0;
    justify-content: space-around;
  }

  .bg-bubbles img{
    width: 4em;
    display: block;
    border-radius: 20px;
    animation: rotateBubble 1s linear infinite, flyBubble 7s linear infinite;
  }

  .bg-square{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: linear-gradient(45deg, #3cd5ec, transparent);
    animation: flyBubble 7s linear infinite;
    opacity: 0;
  }

  #b1{
    animation-delay: 2s;
  }

  .bg-bubbles div:nth-of-type(1){
    animation-delay: 1s;
  }
  .bg-bubbles div:nth-of-type(2){
    animation-delay: 4s;
  }
  .bg-bubbles div:nth-of-type(3){
    animation-delay: 6s;
  }
  .bg-bubbles div:nth-of-type(4){
    animation-delay: .5s;
  }
  .bg-bubbles div:nth-of-type(5){
    animation-delay: 3s;
  }
  .bg-bubbles div:nth-of-type(6){
    animation-delay: 2s;
  }

  @keyframes rotateBubble {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
  }

  @keyframes flyBubble {
    0%{transform: translateY(0);
      opacity: 0;}
    50%{opacity: 1;}
    70%{opacity: 1;}
    100%{transform: translateY(-80vh);
      opacity: 0;}
  }
  