.bg-main{
  background-image: url("./img/bg9.png"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(255, 254, 254);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

header a {
  text-decoration: auto;
  color: inherit;
}

header img {
  height: 1em;
  width: 1em;
  background-color: transparent;
}

@media screen and (min-width:70em) {
  .App-header {
    background-color: #76756194;
    width: 100vw;
    height: 5vh;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    gap: 1em;
    position: absolute;
    box-shadow: 0 0 5px 4px #373825;
    font-weight: bold;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
  }

  header nav:nth-of-type(2){
    gap: 2em;
  }
  header nav nav{
    gap: 0.5em;
  }

  a{
    transition: transform .2s;
  }

  a:hover{
    transform: scale(1.3);
  }

}

